.skills-no-pc {
    .check-lg-message {
        color: red;
        padding: 10px 10px;
    }

    .icons-dev {
        list-style-type: none;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        padding: 10px 5px;

        li {
            width: 15%;
            margin: 15px;
            font-size: 2rem;

            .next-logo {
                height: 50px;
            }
        }

        @media screen and (min-width: 768px) {
            padding: 10px 5px;

            li {
                width: 20%;
                margin: 10px;
                font-size: 2.5rem;

                .next-logo {
                    height: 150px;
                }
            }
        }

    }
}

.skills-container {
    height: 100vh;
    background: url('/img/about.jpg') no-repeat center;
    background-size: cover;
}

.mid-skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .mid-skill-item {
        flex: 1;
        height: 20vh;
        max-height: 20vh;
        width: 100%;
        background-color: green;
    }
}

.tree {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: darkorange;
    stroke-width: 3.5px;
}

.node text {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.link {
    fill: none;
    stroke: darkorange;
    stroke-width: 3px;
}
