.about-container {
    font-family: Montserrat, sans-serif;
    background: url('/img/about.jpg') no-repeat center;
    background-size: cover;
    padding: 20px 10px;

    .avatar-container {
        width: 97%;
    }

    .about-avatar {
        @media screen and (min-width: 768px) {
            position: absolute;
            max-height: 100%;
        }
        @media screen and (min-width: 1280px) {
            position: absolute;
            right: 0;
            width: 50%;
        }
        width: 100%;
        border: 5px solid #ffa000;
    }

    .about-text {
        padding-top: 0!important;

        @media screen and (min-width: 768px) {
            padding-left: 1rem;
        }

        @media screen and (min-width: 1280px) {
            padding: 1rem 1rem 1rem 2rem;
        }

        .author-title {
            font-size: 2.2rem;
            margin-bottom: 0;
            margin-top: 0;
        }

        .author-subtitle {
            font-size: 1.2rem;
            margin-top: 0;
        }

        p {
            &.about-citation {
                font-family: GeosansLight;
                font-size: 2rem;

                span {
                    color: rgba(0, 0, 0, 0.7);
                    font-family: GeosansLight, sans-serif;
                    font-size: 1.8rem;
                }
            }

            font-family: GeosansLight, sans-serif;
            font-size: 1.8rem;
        }
    }
}

.about-media {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        text-decoration: none;
        font-size: 25px;
        max-width: 45px;

        &:nth-child(5) {
            margin-right: 10px;
        }
    }

    @media screen and (min-width: 1280px) {
        justify-content: center;
        a {
            text-decoration: none;
            font-size: 25px;
            max-width: 45px;
            margin: 0 10px;
        }
    }
}
