.header-container {
  background: url('/img/welcome.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .textheader {
    font-family: "28 Days Later";
    font-size: 2rem;
    @media screen and (min-width: 768px) {
      font-size: 4rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 5rem;
    }
    @media screen and (min-width: 1280px) {
      font-size: 5rem;
    }
  }

  .separator {
    width: 10%;
    opacity: 0;
    height: 3px;
    display: block;
  }

  .subtextheader {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 1280px) {
      font-size: 3rem;
    }
  }
}

@keyframes typing_reveal {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}