.citation-container {
  height: 50vh;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  blockquote {
    text-align: center;
  }

  .citation {
    font-size: 2rem;
    line-height: 1.8rem;
    font-family: GeosansLight,sans-serif;
    color:white;
    @media screen and (min-width: 1024px) {
      font-size: 3.2rem;
      line-height: 3rem;
    }
    @media screen and (min-width: 1280px) {
      font-size: 3.2rem;
      line-height: 3rem;
    }
  }

  .author {
    margin-top: 0;
    font-size: 2.2rem;
    color: lightgray;
  }
}