/*
 * This file is used to compile SCSS style files.
 * Please use this file only as an entry point to your other SCSS resources
 */

@import './Components.scss';
@import '../components/About/About';
@import '../components/Header/Header';
@import '../components/Citation/Citation';
@import '../components/Skills/Skills';

html {
    overflow-x: hidden;
}

body {
    background-color: #f6f1f8;
    overflow-x: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.w-100 {
    width: 100%;
}

.w-15 {
    width: 15vh;
}

.w-20 {
    width: 20vh;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50vh;
}

.h-45 {
    height: 45vh;
}

.p\:relative {
    position: relative;
}