
.textheader {
  font-family: "28 Days Later";
  font-size: 2rem;
  padding-top: 9rem;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
    padding-top: 9rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 5rem;
    padding-top: 13rem;
  }
  @media screen and (min-width: 1280px) {
    font-size: 5rem;
    padding-top: 7rem;
  }
}

.separator {
  content: "";
  width:40%;
  height: 3px;
  position: absolute;
  top: 46%;
  left: 30%;
  @media screen and (min-width: 768px) {
    width: 40%;
    top: 55%;
    left: 30%;
  }
  @media screen and (min-width: 1024px) {
    width: 40%;
    top: 45%;
    left: 30%;
  }
  @media screen and (min-width: 1280px) {
    width: 20%;
    top: 52%;
    left: 40%;
  }
}

.subtextheader {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1280px) {
    font-size: 3rem;
  }
}